{% extends 'layout.html.twig' %}

{% block content %}
<div id="admin_container">
    <div class="admin_content">
        <div class="figures_content">
            <div class="nb_content">
                <h6>Nombre de villageois :</h6>
                <div>
                    <img src="web/assets/img/villageois2.png" alt="">
                    <span>{{numbervillager}}</span> <!-- nbr de villageois -->
                </div>
            </div>
            <div class="nb_content">
                <h6>Nombre d'artisans :</h6>
                <div>
                    <img src="web/assets/img/artisan.png" alt="">
                    <span>{{numbercrafter}}</span> <!-- nbr de villageois -->
                </div>
            </div>
        </div>

        <h5>Liste des utilisateurs inscrits:</h5>
        <input class="btn btn-primary" id="button-all-users" type="button" value="Tous">
        <input class="btn btn-primary" id="button-only-crafter" type="button" value="Artisans">
        <input class="btn btn-primary" id="button-only-villager" type="button" value="Villageois">
        <table class="table table-sm table-users">
            <thead class="thead-inverse">
                <tr>
                    <th>id</th>
                    <th>Type de l'utilisateur</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Mail</th>
                    <th>Adresse</th>
                    <th>Code postal</th>
                    <th>village(s)</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                {% if user.user_type == "villager" %}
                 <tr class="villager-row">
                {% else %}
                <tr class="crafter-row">
                {% endif %}
                    <th scope="row">{{user.id}}</th>
                    <td>{{user.user_type}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.firstname}}</td>
                    <td>{{user.mail}}</td>
                    <td>{{user.adress}}</td>
                    <td>{{user.postcode}}</td>
                    <td>{{user.user_village}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        <form action="">
            <!-- suppression d'un compte -->
            <!-- créer + éditer un compte artisan -->
            <!-- édition + suppression d'article -->
        </form>
    </div>
</div>
{% endblock %}