{% extends 'layout.html.twig' %}

{% block content %}
<head>
    <link type="text/css" rel="stylesheet" href="web/jquery-te-1.4.0.css">
    <script type="text/javascript" src="web/jquery-te-1.4.0.min.js" charset="utf-8"></script>
</head>
<div id="profile_crafter_container">
    <div class="row">
        <div class="col-10 offset-1 col-lg-6 offset-lg-3">
            <img class="d-block img-fluid" src={{crafter.crafter_profile_photo}} alt="crafter_img">
            <div class="infos_crafter">
                <h3>{{usercrafter.lastname}}</h3>
                <h3>{{usercrafter.firstname}}</h3>

                <h4>{{crafter.crafter_job }}</h4>
                <h5>{{crafter.crafter_adress}}</h5>
                <h5>{{crafter.crafter_village}}</h5>
                <a class="contact_crafter_button" href="?action=startChat&id={{usercrafter.id}}">Contactez moi</a>
            </div>
            <div class="content">
                <h2>Son histoire</h2>
                <p>
                    {{crafter.crafter_history}}
                </p>
                <hr>
                <img class="d-block img-fluid" src={{crafter.crafter_shop_photo}} alt="flat_icon">
                <h2>Sa Boutique</h2>
                <p>
                   {{crafter.crafter_shop}}
                </p>
                <img class="d-block img-fluid" src="web/assets/img/boutique.png" alt="flat_icon">
                <hr>
                <h2>Son travail</h2>
                <div class="row">
                    <div class="col-6">
                        <img src={{photosWork[0]}} alt="">
                    </div>
                    <div class="col-6">
                        <img src={{photosWork[1]}} alt="">
                    </div>
                    <div class="col-6">
                        <img src={{photosWork[2]}} alt="">
                    </div>
                    <div class="col-6">
                        <img src={{photosWork[3]}} alt="">
                    </div>
                    <div class="col-6">
                        <img src={{photosWork[4]}} alt="">
                    </div>
                    <div class="col-6">
                        <img src={{photosWork[5]}} alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}