   {% extends 'layout.html.twig' %}

    {% block content %}
  <section>
        <div id="article">
            <span id="title">{{articleToShow.title_article}}</span><br/>
            <img id="imgArticle" src="assets/onepieceteam.png"><br/> <br/>
            {% if articleToShow is defined and articleToShow is not empty %}
            <div>
                <span class="text">Par </span><span id="showProfile">{{articleToShow.author_article}}</span><br/>
                <span class="text">Le</span> {{articleToShow.date_article}}<br/><br/>
            </div>
            <span class="textArticle">{{articleToShow.text_article}}</span><br/><br/>
            {% endif %}
        </div>
        <div id="comments">
            <span id="title">COMMENTS</span><br/> <br/> <br/>
            {% for comment in commentsToShow %}
            <div class="comment">
                <hr/>
                <span class="text">Comment :</span><span id="margin">{{comment.text_comment}}</span><br/><br/>
                <span class="text">Par </span> {{comment.author_comment}}<br/>
                <span class="text">Le </span> {{comment.date_comment}}<br/><br/>
                {% if name is defined and name is not empty %}
                {% if name == comment.author_comment or name == articleToShow.author_article %}
                <form name="delete-comment-form" class="delete-comment-form" method="POST" action="?action=deleteComment">
                    <input type="hidden" name="id-article" value={{articleToShow.id}}>
                    <input type="hidden" name="id-comment" value={{ comment.id }}>
                    <div class="deleteCommentLink">Delete Comment</div>
                </form>
                {% endif %}
                {% endif %}
            </div><br/> <br/>
            {% endfor %}

        {% if name is defined and name is not empty %}<br>
        <span id="title">Want to post a comment?</span><br/>
        <form name="post-comment" method="POST" action="?action=createComment">
            <input type="hidden" name="author-comment" value={{name}}>
            <input type="hidden" name="id-article" value={{articleToShow.id}}>
            <input type="text" name="text-comment"><br/>
            <input type="submit">
        </form><br/> <br/>
        {% endif %}
    </section>
    {% endblock %}