{% extends 'layout.html.twig' %}

{% block content %}
<div id="article_container">
    <div class="col_preview">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2 article_preview">

                <div class="carousel-caption d-sm-block">
                    <div class="article_header">
                        <h4>{{article.title_event}}</h4>
                        <h5><b>{{article.date_event}}</b></h5>
                    </div>
                                {% if article.photo_event is defined and article.photo_event==nothing  %}
            <img class="d-block img-fluid"  src={{article.photo_event}}  alt="First slide">
            {% else %}
                <img class="d-block img-fluid"  src="web/assets/img/slide.png" alt="First slide">
            {% endif %}
                    <div class="article_content">
                        <p>
                            {{article.text_event}}
                        </p>
                        <p class="author">{{article.author_event}}</p> <!-- Nom Prénom de l'auteur-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}