{% extends 'layout.html.twig' %}

{% block content %}
<div id="blog_container">
    <div class="col_preview">
        <h4>Blog</h4>
        <hr>

        <div class="row">
            {% for art in articles %}
            <div class="col-12 col-lg-6 offset-lg-3">
            {% if art.photo_event is defined and art.photo_event!="nothing"  %}
                <img class="d-block img-fluid"  src={{art.photo_event}}  alt="First slide">
            {% else %}
                <img class="d-block img-fluid"  src="web/assets/img/slide.png" alt="First slide">
            {% endif %}
                <div class="carousel-caption d-sm-block">
                    <h4>{{art.title_event}}</h4>
                    <h5><b>{{art.date_event}}</b></h5>
                    <p>{{art.text_event|length > 50 ?art.text_event|slice(0, 50) ~ '...' : art.text_event}}</p>
                    <a href="?action=showArticle&id={{art.id}}"><b>En savoir plus...</b></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}