{% extends 'layout.html.twig' %}

{% block content %}
<head>
    <link type="text/css" rel="stylesheet" href="web/jquery-te-1.4.0.css">
    <script type="text/javascript" src="web/jquery-te-1.4.0.min.js" charset="utf-8"></script>
</head>
<div id="profile_container">
    <div class="container">
        <div class="row" id="main">
            <div class="col-xl-4 well" id="leftPanel">
                <div class="row">
                    <div class="col-md-12">
                        <div class="profile_infos">
                            <!--<img src="{{user.pic}}" alt="no picture" class="img-circle img-thumbnail">-->
                            <img src="{{user.user_pic}}" alt="no picture" class="img-circle img-thumbnail"><br> <!-- faut garder cette images par défaut -->
                            <form method="POST" action="?action=changeProfilePic" enctype="multipart/form-data">
                                    <input type="hidden" name="MAX_FILE_SIZE" value="1048576" />
                                    <label class="btn change_photo">
                                        Changer de photo
                                        <input type="file" style="display: none;" name="my-pic" id="my-pic" required/>
                                    </label>
                                    <label class="btn confirm_change_photo">
                                        Confirmer
                                        <input  type="submit" style="display: none;" name="submit" value="Envoyer" />
                                    </label>
                            </form>
                            <h2>{{user.lastname}} {{user.firstname}}</h2>
                            <h4>{% if user.user_type == "villager" %} villageois {% else %} Artisan {% endif %}</h4> <!-- status -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-8 well" id="rightPanel">
                <div class="row">
                    <div class="col-md-12">
                        <form method="post" action="?action=editProfile"role="form">
                            <h3>Editer votre profil :</h3>
                            <hr class="colorgraph">
                            <h5>Changer d'adresse email :</h5>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="email" name="email" id="email" class="form-control input-lg" placeholder="{{user.mail}}" tabindex="4">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <h5>Changer d'adresse :</h5>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <input type="text" name="adress" id="adress" class="form-control input-lg" placeholder="{{user.adress}}" tabindex="4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <h5>Changer de code postal :</h5>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <input type="text" name="postal_code" id="postal_code" class="form-control input-lg" placeholder="{{user.postcode}}" tabindex="4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <h5>Changer de village(s) :</h5>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <select id='village-user' name="village-user" >
                                                        {% for village in villages %}
                                                            {% if village_first == village.village_name %}
                                                                <option selected="selected">{{village.village_name |  convert_encoding('UTF-8', 'ISO-8859-1') }}</option>
                                                            {% endif %}
                                                            <option>{{village.village_name |  convert_encoding('UTF-8', 'ISO-8859-1') }}</option>
                                                        {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <h5>Ajouter un autre village :</h5>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <select id='new-village-user' name="new-village-user" >
                                                    <option>NON</option>
                                                        {% for village in villages %}
                                                            {% if village_second == village.village_name %}
                                                                <option selected="selected">{{village.village_name |  convert_encoding('UTF-8', 'ISO-8859-1') }}</option>
                                                            {% endif %}
                                                            <option>{{village.village_name |  convert_encoding('UTF-8', 'ISO-8859-1') }}</option>
                                                        {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <h5>Changer de mot de passe :</h5>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" class="form-control input-lg"  placeholder="Changer votre mot de passe" tabindex="5">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirmer le mot de passe"  tabindex="6">
                                    </div>
                                </div>
                            </div>
                            <hr class="colorgraph">
                            <div class="row">
                                <div class="col-xs-12 col-md-6"><input type="submit" class="btn btn-block btn-lg" value="Éditer"></div>
                                <input type="hidden" name="user-id" value={{user.id}}>
                                <input type="hidden" name="user-type" value={{user.user_type}}>
                                <div class="col-xs-12 col-md-6"><input type="button" class="btn btn-block btn-lg delete-profile" value="Supprimer votre compte"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h3>Vos messageries :</h3>
        <div class="contact_container">
            <div class="row">
                {% for mess in messages %}
                    <div class="col-12 col-lg-4">
                        <div class="col_content">
                            <div class="name_contact">
                                <p>{{mess.lastname}} {{mess.firstname}}</p>
                                <a href="#">
                                <img src="web/assets/img/cross.png" alt="">
                                </a>
                            </div>
                            <div class="chat_container chat">
                            {% for m in mess.messages%}
                                {% if m.id_sender == mess.id %}
                                    <div class="his_message">{{m.text_message}}</div>
                                {% else %}
                                    <div class="your_message">{{m.text_message}}</div>
                                {% endif %}
                            {% endfor %}
                            </div>
                            <div class="text_editor_container">
                            <textarea name="text-message" placeholder="écrivez un message..."></textarea>
                            <input type="hidden" name="id-receiver" value={{mess.id}}>
                            <div class="btn form-submit" type='submit'>envoyer</div>
                        </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    <hr>
    {% if user is defined and user.user_type == "crafter" or user.user_type == "admin" %}
    <div class="article_editor_container">
        <div class="article_editor_content">
            <h4>Rédiger un article ou un évenement :</h4>
            <div class="message-block"></div>
            <form name="create-article-form" id="create-article-form" method="POST" enctype="multipart/form-data">
                <h5>Votre titre :</h5>
                <input type="text"  name="title-article">
                <h5>Votre image:</h5>
                <input type="hidden" name="MAX_FILE_SIZE" value="1048576" />
                <input type="file" name="article-pic" id="article-pic" />
                <input type="text" name="text-article" class="jqte-test">
                <input type="submit" value="Valider" class="btn">
            </form>
    {% endif %}
            <script>
                $('.jqte-test').jqte();

                // settings of status
                var jqteStatus = true;
                $(".status").click(function()
                {
                    jqteStatus = jqteStatus ? false : true;
                    $('.jqte-test').jqte({"status" : jqteStatus})
                });
            </script>
        </div>
    </div>


    </div>
</div>

{% endblock %}